body {
    text-align: center;
}

#input {
    display: inline-block;
}

#list {
    padding: 0;
    list-style-type: none;
}

#list span:not(:last-child) {
    margin-right: 5px;
}

#list .remove, #list .mark {
    color: blue;
    cursor: pointer;
}

#list .remove:hover, #list .mark:hover {
    text-decoration: underline;
}

/* класс done на span */
/*#list .done {*/
/*    text-decoration: line-through;*/
/*}*/

/* это как сделано в задаче, тут на li класс done вешается */
#list .done .task {
    text-decoration: line-through;
}