.block {
    padding: 5px;
    margin: 5px 0;
    border: 2px solid indigo;
}
/*#baseAndHeight {*/
/*    display: none;*/
/*}*/

/*#baseAndHeight.active {*/
/*    display: inline-block;*/
/*}*/

/*#threeSides {*/
/*    display: none;*/
/*}*/

/*#threeSides.active {*/
/*    display: inline-block;*/
/*}*/
